body {
    font-family: 'ABeeZee'; font-size: 22px;
  }

form {
    /* Remove spaces between boxes on a line */
    font-size: 0px;
}

h1 {
    font-size: 30px;
    margin-top: 10%;
}

div.puzzle, div.text {
    display: inline;
    font-size: 20px;
}

div.puzzle {
    float: left;
    width: 40%;
}

div.submit {
      background-color: #00b33c;
      border-radius: 15px;
      width: 20%;
      margin: auto;
      top: 50%;
      padding: 10px 0;
      font-size: 1.5em;
      text-align: center;
      color: floralwhite;
}

div.submit:hover {
      background-color: rgb(74, 74, 206);
}

div.text {
    float: right;
    margin-top: 10%;
    text-align: center;
    width: 60%;
    margin-right: auto;
}

.grid-container {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    margin: auto;
    background-color: #FFFFFF;
    border: 3px solid rgba(72, 33, 214, 0.8);
}

.grid-item {
    display: inline-grid;
    border: 1px solid rgba(0, 0, 0, 0.8);
    text-align: center;
}

input[type=text] {
    text-align: center;
    padding: 8px;
    width: 30px;
    font-size: 35px;
    font-family: 'ABeeZee';
    background-color: rgba(255, 255, 255, 0.8);
}

input[type=text]:focus {
    background-color: yellow;
}

input:invalid {
    border: 2px solid red;
}

input:valid {
    border: 2px solid black;
}

textarea {
    resize: none;
}