{% extends "index.html" %}
{% block head %}
<style type="text/css">

form {
  /* Remove spaces between boxes on a line */
  font-size: 0px;
}
.grid-container {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  margin: auto;
  background-color: #FFFFFF;
  border: 3px solid rgba(72, 33, 214, 0.8);
}
.grid-item {
  display: inline-grid;
  border: 1px solid rgba(0, 0, 0, 0.8);
  text-align: center;
}

input[type=text] {
    text-align: center;
    padding: 10px;
    width: 30px;
    font-size: 30px;
    background-color: rgba(255, 255, 255, 0.8);
}
input[type=text]:focus {
    background-color: yellow;
}
input:invalid {
  border: 2px solid red;
}
input:valid {
  border: 2px solid black;
}
textarea {
    resize: none;
}
</style>
<h1>Here is a simple Sudoku solver!</h1>
{% endblock %}
{% block grid %}
  {% if error is defined %}
  <p><b>{{ error }}</b></p>
  {% else %}
  Enter the numbers of the puzzle here.</p>
  {% endif %}
  <!-- Cells will get created a single box at a time, so list by box -->
  {% set top_row = [["00", "01", "02", "10", "11", "12", "20", "21", "22"],
                   ["03", "04", "05", "13", "14", "15", "23", "24", "25"],
                   ["06", "07", "08", "16", "17", "18", "26", "27", "28"]] -%}
  {% set middle_row = [["30", "31", "32", "40", "41", "42", "50", "51", "52"],
                      ["33", "34", "35", "43", "44", "45", "53", "54", "55"],
                      ["36", "37", "38", "46", "47", "48", "56", "57", "58"]] -%}
  {% set bottom_row = [["60", "61", "62", "70", "71", "72", "80", "81", "82"],
                      ["63", "64", "65", "73", "74", "75", "83", "84", "85"],
                      ["66", "67", "68", "76", "77", "78", "86", "87", "88"]] -%}
  <!-- Next cell to move to after typing in each cell. Typing across the row seems most natural. -->
  {%- set next_cell = {
                        '00':'01', '01':'02', '02':'03', '03':'04', '04':'05', '05':'06', '06':'07', '07':'08', '08':'10',
                        '10':'11', '11':'12', '12':'13', '13':'14', '14':'15', '15':'16', '16':'17', '17':'18', '18':'20',
                        '20':'21', '21':'22', '22':'23', '23':'24', '24':'25', '25':'26', '26':'27', '27':'28', '28':'30',
                        '30':'31', '31':'32', '32':'33', '33':'34', '34':'35', '35':'36', '36':'37', '37':'38', '38':'40'
                     }
      -%}
                        <!-- TODO: Stop here for testing, resume if this works -->
  <form>
    {% for row in [top_row, middle_row, bottom_row] %}
      {% for box in row %}
      <div class="grid-container">
          {% for cell in box %}
              <div class="grid-item">
                <meta id={{cell}} data-next={{next_cell[cell]}}><input type="text" name={{ cell }} onkeyup="check(this, name)" maxlength="1" {% if cell == "00" %} autofocus {% endif %}>
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
              <script>
                function getOtherLine(pos) {
                  var fullLine = [];
                  var target = parseInt(pos);
                  for (var i = 0; i < 9; i++) {
                      if (i != target) {
                          fullLine.push(i);
                      }
                  }
                  return fullLine;
                }
                function checkRow(pos, form) {
                  // Return duplicate's location
                    let rowNum = pos[0];
                    let cols = getOtherLine(pos[1]);
                    let cellVal = form.elements.namedItem(pos).value;
                    for (let col of cols) {
                      if (form.elements.namedItem(rowNum + col).value == cellVal) {
                          return rowNum + col;
                      }
                    }
                }
                function checkCol(pos, form) {
                    let colNum = pos[1];
                    let rows = getOtherLine(pos[0]);
                    let cellVal = form.elements.namedItem(pos).value;
                    for (let row of rows) {
                      if (form.elements.namedItem(row + colNum).value == cellVal) {
                          return row + colNum;
                      }
                    }
                  }

                function checkBox(pos, form) {
                    let boxSets = [["00", "01", "02", "10", "11", "12", "20", "21", "22"],
                                  ["03", "04", "05", "13", "14", "15", "23", "24", "25"],
                                  ["06", "07", "08", "16", "17", "18", "26", "27", "28"],
                                  ["30", "31", "32", "40", "41", "42", "50", "51", "52"],
                                  ["33", "34", "35", "43", "44", "45", "53", "54", "55"],
                                  ["36", "37", "38", "46", "47", "48", "56", "57", "58"],
                                  ["60", "61", "62", "70", "71", "72", "80", "81", "82"],
                                  ["63", "64", "65", "73", "74", "75", "83", "84", "85"],
                                  ["66", "67", "68", "76", "77", "78", "86", "87", "88"],
                                  ]
                    let currVal = form.elements.namedItem(pos).value;
                    for (let box of boxSets) {
                        if (!box.includes(pos)) {
                            continue;
                        }
                        for (let cell of box) {
                            if (cell != pos && form.elements.namedItem(cell).value == currVal) {
                                return cell;
                            }
                        }
                    }
                }
                function check(input, cell) {
                  if (input.value == "" || input.value == "0") {
                    input.setCustomValidity('');
                  }
                  else if (!(["1", "2", "3", "4", "5", "6", "7", "8", "9"].includes(input.value))) {
                    input.setCustomValidity('Please enter a number in the range 1-9.');
                  } else {
                    let rowValid = checkRow(cell, document.forms[0]);
                    if (rowValid != undefined) {
                      input.setCustomValidity('This row already contains that number.');
                    }
                    let colValid = checkCol(cell, document.forms[0]);
                    if (colValid != undefined) {
                      input.setCustomValidity('This column already contains that number.');
                      return;
                    }
                    let boxValid = checkBox(cell, document.forms[0]);
                    if (boxValid != undefined) {
                      input.setCustomValidity('This box already contains that number.');
                      return;
                    }
                    // input is fine -- reset the error message
                    input.setCustomValidity('');
                    if (input.value.length == 1 && input.name != '88') {
                      let nextName = $('#' + input.name).data("next");
                      let nextCell = document.forms[0].elements.namedItem(nextName);
                      $(nextCell).focus();
                    }
                  }
              }
              </script>
              </div>
          {%- endfor %}
      </div>
      {%- endfor %}
      <!-- Put every row on a new line-->
    </br>
  {% endfor %}
      <input type="submit" value="Submit"></p>
      </form>
{% endblock %}
