{% extends "index.html" %}
{% block head %}
<link href='https://fonts.googleapis.com/css?family=ABeeZee' rel='stylesheet'>
<link href="static/grid.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block grid %}
  <!-- Cells will get created a single box at a time, so list by box -->
  {% set top_row = [["00", "01", "02", "10", "11", "12", "20", "21", "22"],
                   ["03", "04", "05", "13", "14", "15", "23", "24", "25"],
                   ["06", "07", "08", "16", "17", "18", "26", "27", "28"]] -%}
  {% set middle_row = [["30", "31", "32", "40", "41", "42", "50", "51", "52"],
                      ["33", "34", "35", "43", "44", "45", "53", "54", "55"],
                      ["36", "37", "38", "46", "47", "48", "56", "57", "58"]] -%}
  {% set bottom_row = [["60", "61", "62", "70", "71", "72", "80", "81", "82"],
                      ["63", "64", "65", "73", "74", "75", "83", "84", "85"],
                      ["66", "67", "68", "76", "77", "78", "86", "87", "88"]] -%}
  <!-- Next cell to move to after typing in each cell. Typing across the row seems most natural. -->
  {%- set next_cell = {
                        '00':'01', '01':'02', '02':'03', '03':'04', '04':'05', '05':'06', '06':'07', '07':'08', '08':'10',
                        '10':'11', '11':'12', '12':'13', '13':'14', '14':'15', '15':'16', '16':'17', '17':'18', '18':'20',
                        '20':'21', '21':'22', '22':'23', '23':'24', '24':'25', '25':'26', '26':'27', '27':'28', '28':'30',
                        '30':'31', '31':'32', '32':'33', '33':'34', '34':'35', '35':'36', '36':'37', '37':'38', '38':'40',
                        '40':'41', '41':'42', '42':'43', '43':'44', '44':'45', '45':'46', '46':'47', '47':'48', '48':'50',
                        '50':'51', '51':'52', '52':'53', '53':'54', '54':'55', '55':'56', '56':'57', '57':'58', '58':'60',
                        '60':'61', '61':'62', '62':'63', '63':'64', '64':'65', '65':'66', '66':'67', '67':'68', '68':'70',
                        '70':'71', '71':'72', '72':'73', '73':'74', '74':'75', '75':'76', '76':'77', '77':'78', '78':'80',
                        '80':'81', '81':'82', '82':'83', '83':'84', '84':'85', '85':'86', '86':'87', '87':'88'
                     }
      -%}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" src="static/sudoku.js"></script>
  <div class="text">
      {% if solved == True %}
      <h1>Sudoku Solver</h1>
      <p>Here's the solution to your puzzle!</p>
      {% else %}
        <script>checkAll()</script>
        <h1>Here is a simple Sudoku solver!</h1>
        {% if error is defined and error != '' %}
        <p>{{ error|safe }}</p>
        {% else %}
        Enter the numbers of the puzzle here.</p>
        {% endif %}
      {% endif %}
      <p><div id="submitButton" class="submit" onclick="submitForm(puzzle)">Submit</div>
      </div>
      <form name="puzzle" autocomplete="off"><meta id="puzzle" data-input={{puzzle_string}}><div class="puzzle">
        <!-- Container to hold the entire puzzle so lines aren't split on resize -->
        <div class="grid-container">
        {% for row in [top_row, middle_row, bottom_row] %}
          {% for box in row %}
          <div class="grid-container">
              {% for cell in box %}
                  <div class="grid-item">
                    <meta id={{cell}} data-next={{next_cell[cell]}}>
                    <input type="text" autocomplete="off" name={{ cell }} tabindex={{ cell }} onkeyup="check(this, name); move(name, event.key)"
                           maxlength="1" {% if cell == "00" %} autofocus {% endif %} >
                  </div> <!-- End cell div -->
              {%- endfor %}
          </div> <!-- End box div -->
          {%- endfor %}
      {% endfor %}
        </div> <!-- End outer container div -->
      </div>
{% endblock %}