<!doctype html>
<title>Sudoku Solver</title>
    <h1>This will be a Sudoku solver!</h1>
    <body><p>Enter the numbers of the puzzle here.<br>
        Use zeroes to mark empty spaces within rows, and leave entire empty rows blank.</p>
        <form><!--#// action="/solved.html">-->
            Row 1:<br>
            <input type="text" name="row1">
            <p><input type="submit" value="Submit"></p>
        </form>
        {% if output is defined %}
            <p>{{ output }}</p>
        {% endif %}
    </body>